body {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 5vw;
    align-items: center;
    height: auto;
    width: auto;
    background-image: url("Banque images/Elements\ de\ décors/Back-ground Body.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .planetdex {
    width: 70%;
    height: 100%;
    background-color: #f0ebcd96;
    border: 2px solid #55555500;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .titre {
    width: 100%;
    height: 10%;
    background-image: url("Banque\ images/Elements de décors/Coup de peinture.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
  }
  
  .corpus {
    width: 100%;
    height: 80%;
    /* gap:20px; */
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  
  .image {
    width: auto;
    height: 20vw;
    border-radius: 10px;
    /* padding: 20px;  */
    display: flex;
    justify-content: center;
  }
  
  .image img {
    width: auto;
    /* Remplir toute la largeur de la div */
    height: 70%;
    /* Remplir toute la hauteur de la div */
    /* object-fit: cover; */
    /* Conserver les proportions et remplir la div */;
  }
  
  .details {
    width: auto;
    height: 60%;
    border-radius: 10px;
    float: right;
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    flex-direction: column;
    gap: 20px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.5vw;
    color: rgb(35, 35, 88)
  }
  
  .resume {
    width: 63vw;
    height: 4.2rem;
    background-color: #1515359d;
    border-radius: 10px;
    position: relative;
  }
  
  #planet-context {
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.2vw;
    color: rgb(246, 234, 211);
    position: absolute;
    left: 10px;
    right:10px;
    top: 10px;
    text-align: justify;
  }
