.planetdex {
  width: 940px;
  height: 549px;
  background-color: #f7f9e7;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 20px; 
}

.titre {
  width:900px;
  height:50px;
  background-color: rgb(136, 180, 238);
  border: 2px solid #555;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items:flex-start;
}

.image {
  width: 400px;
  height: 200px;
  background-color: #f7f9e7;
  border-radius: 10px;
  padding: 20px; 
  margin: 5px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.image img {
  width: 60%; /* Remplir toute la largeur de la div */
  height: 60%; /* Remplir toute la hauteur de la div */
  object-fit: cover; /* Conserver les proportions et remplir la div */
}

.details{
  width: 40%;
  height: 30%;
  background-color: #f7f9e7;
  border: 2px solid #f7f9e7;;
  border-radius: 10px;
  margin: 5px;
  margin-top: -280px;
  float: right;
  padding: 20px;
  display: flex;
  align-items: center;
}

.resume {
  width: 900px;
  height: 50px;
  background-color: #ebf3b0;
  border: 2px solid #040404;
  border-radius: 10px;
  padding: 20px;
  margin-top: 120px;
  display: flex;
  align-items:flex-end;
}

.planetlist{
  width: 450px;
  height: 549px;
  background-color: #bff3f6;
  border: 2px solid #040404;
  border-radius: 10px;
  padding: 20px;
  margin-top: -590px;
  float : right;
  display:flex;
  align-items:flex-start;
}