body {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 5vw;
  align-items: center;
  height: 30em;
  width: 90vw;
  background-image: url("Banque images/Elements\ de\ décors/Back-ground Body.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.planetdex {
  width: 70%;
  height: 100%;
  background-color: #f0ebcd;
  border: 2px solid #55555500;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titre {
  width: 100%;
  height: 10%;
  background-image: url("Banque\ images/Elements de décors/Coup de peinture.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
}

.partie-gauche {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  gap: 0.5rem;
}

.losange-container {
  position: relative;
}

.losange {
  max-width: 90px;
}

#Numero {
  font-family: Trebuchet MS, sans-serif;
  font-size: 12px;
  color: rgb(246, 234, 211);
  position: absolute;
  left: 28px;
  top: 4px;
}


#planet-name {
  font-family: Trebuchet MS, sans-serif;
  font-size: 14px;
  color: rgb(246, 234, 211)
}

.partie-droite {
  width: auto;
  height: 1.2em;
  display: flex;
  align-content: flex-end;
  gap: 10px;
  padding: 5px;
  margin-right: 40px;
  background-color: rgba(2, 2, 57, 0.763);
  border-radius: 10px;
}

#planet-type {
  font-family: Trebuchet MS, sans-serif;
  font-size: 10px;
  color: rgb(246, 234, 211);
  display: flex;
  align-items: center;
}

#type {
  width: 1.2em;
  height: auto;
  display: flex;
  align-items: center;
}

#planet-type2 {
  font-family: Trebuchet MS, sans-serif;
  font-size: 10px;
  color: rgb(246, 234, 211);
  display: flex;
  align-items: center;
}

#type2 {
  width: 1.2em;
  height: auto;
  display: flex;
  align-items: center;
}

.corpus {
  width: 100%;
  height: 80%;
  /* gap:20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#planet-portrait {
  width: 100%;
  height: 20vw;
  border-radius: 10px;
  /* padding: 20px;  */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.image {
  width: auto;
  height: 20vw;
  border-radius: 10px;
  /* padding: 20px;  */
  display: flex;
  justify-content: center;
}

.image img {
  width: auto;
  /* Remplir toute la largeur de la div */
  height: 100%;
  /* Remplir toute la hauteur de la div */
  object-fit: cover;
  /* Conserver les proportions et remplir la div */
  display: flex;
  justify-content: center;
}

.details {
  width: auto;
  height: 60%;
  border-radius: 10px;
  float: right;
  display: flex;
  align-items: flex-start;
  /* justify-content: flex-start; */
  flex-direction: column;
  gap: 20px;
  font-family: Trebuchet MS, sans-serif;
  font-size: 1.5vw;
  color: rgb(35, 35, 88)
}

.diametre {
  gap: 5em;
}

#logo-diametre {
  width: auto;
  height: 1em;
}

.climat-container {
  position: relative;
}

.climat {
  max-width: 20vw;
  height: 1.4em;
}

#data-climat {
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
  color: rgb(246, 234, 211);
  position: absolute;
  left: 8px;
  top: 4px;
}

.population-container {
  position: relative;
}

.population {
  max-width: 20vw;
  height: 1.4em;
}

#data-population {
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
  color: rgb(246, 234, 211);
  position: absolute;
  left: 8px;
  top: 4px;
}

.resume-container {
  position: relative;
}

.resume {
  width: 63vw;
  height: 4.2rem;
}

#planet-context {
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
  color: rgb(96, 92, 84);
  position: absolute;
  left: 35px;
  top: 10px;
}

#planetlist {
  width: 20%;
  height: 60%;
  background-color: #3338389d;
  border-radius: 10px;
  float: right;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

#intro-select {
  font-family: Trebuchet MS, sans-serif;
  font-size: 16px;
  color: rgb(246, 234, 211);
  text-align: center;
}

select option:checked {
  color: black;
  background-color: rgba(40, 40, 40, 0.3);
}

select {
  font-size: 2vw;
  line-height: 1.3;
  letter-spacing: 0.079em;
  font-weight: 400;
  background-color: rgba(37, 37, 37, 0.338);
  font-family: Trebuchet MS, sans-serif;
  color: rgb(246, 234, 211);
  text-align: end;
}