body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5vw;
    height: auto;
    width: auto;
    background-image: url("Banque images/Elements\ de\ décors/Back-ground Body.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Trebuchet MS, sans-serif;
}

#onglet-planetdex{
    background-color: #f0ebcd96;
    position: absolute;
  }

  .bouton-planetdex {
    margin : 0vw 72vw 0.5vw 5vw;
    font-family: Trebuchet MS, sans-serif;
  }

.planetdex {
    width: 70%;
    height: 100%;
    background-color: #f0ebcd96;
    border: 2px solid #55555500;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titre {
    width: 100%;
    height: auto;
    background-image: url("Banque\ images/Elements de décors/Coup de peinture.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 15px 0px 15px 0px;
    display: flex;
    align-items: center;
    line-height: 20px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    color: rgb(246, 234, 211);
}

.corpus {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.image {
    width: auto;
    height: 20vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.image img {
    width: auto;
    /* Remplir toute la largeur de la div */
    height: 70%;
    /* Remplir toute la hauteur de la div */
    /* object-fit: cover; */
    /* Conserver les proportions et remplir la div */
  }
  
  .details {
    width: auto;
    height: 60%;
    border-radius: 10px;
    float: right;
    display: flex;
    align-items: flex-start;
    /* justify-content: flex-start; */
    flex-direction: column;
    gap: 20px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.5vw;
    color: rgb(35, 35, 88)
}

.resume {
    width: 63vw;
    height: 5vw;
    background-color: #1515359d;
    border-radius: 10px;
    position: relative;
}

#context {
    font-family: Trebuchet MS, sans-serif;
    font-size: 1vw;
    color: rgb(246, 234, 211);
    position: absolute;
    left: 10px;
    right: 10px;
    text-align: justify;
}
