.planetdex {
  width: 940px;
  height: 549px;
  background-color: #f7f9e7;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 20px; 
}

.titre {
  width:900px;
  height:50px;
  background-color: darkblue;
  border: 2px solid #555;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items:flex-start;
}

.image {
  width: 400px;
  height: 200px;
  background-color: #f7f9e7;
  border-radius: 10px;
  padding: 20px; 
  margin: 5px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.details{
  width: 40%;
  height: 30%;
  background-color: #f7f9e7;
  border: 2px solid #f7f9e7;;
  border-radius: 10px;
  margin: 5px;
  margin-top: -280px;
  float: right;
  padding: 20px;
  display: flex;
  align-items: center;
}

.resume {
  width: 900px;
  height: 50px;
  background-color: #ebf3b0;
  border: 2px solid #040404;
  border-radius: 10px;
  padding: 20px;
  margin-top: 120px;
  display: flex;
  align-items:flex-end;
}